# .NET
**/bin/
**/obj/
**/*.user

# Angular
**/node_modules/
**/.angular/

# JetBrains
.idea/

# General
.DS_Store
**/.vscode/
ChatArena.server/publish/

# Environment files
.env
.env.local
.env*.local
ChatArena.client/.env.production